<h1>RecoJog Data View</h1>
<div id="messages"></div>
<script src="https://cdn.socket.io/socket.io-1.3.6.js"></script>
<script>
    var socket = io.connect(document.URL.replace('3000', '5000'));
    socket.on("connect", function () {
        var id = socket.io.engine.id;
        println("Connected ID: " + id);
    });

    socket.on("online", function (obj) {
        println("online id: " + obj.id);
    });

    socket.on("offline", function (obj) {
        println("offline id: " + obj.id);
    });

    socket.on("jogging", function (obj) {
        println(JSON.stringify(obj));
    });

    function println(message) {
        document.getElementById("messages").innerHTML += message + "<br>";
    }
</script>